{% extends 'base.html' %}
{% block title %}XDCC search, Python proxy server & web-server, mIRC/Adiirc mSL script, documentation
{% endblock title %}{% block h1 %}Trio-IrcProxy.Py Services Home{% endblock h1 %}{% block content %}
<p title="trio-ircproxy.py assistive web-server"><h5 class="oneline">
    <span class="ooo">o &nbsp;</span><a href="/index.html">home</a></h5> - you are here now.</p>
<hr />
<p title="the code of conduct for anyone using or supplying this application">
<h5 class="oneline"><span class="ooo">o &nbsp;</span><a href="/coc/code_of_conduct.html">Code of Conduct</a></h5> - i require
that you behave as outlined in the code-of-conduct while using this web-server and applications available here.</p>
<p title="the copyright notice, which you must include when re-distributing the software.">
<h5 class="oneline"><span class="ooo">o &nbsp;</span><a href="/licence.html">Copyright Licence</a></h5> - copyright
notice for all content, including this web-server, and applications available here.</p>
<p title="the contributing.md file which states who and how to contribute to the Trio-ircproxy projects.">
<h5 class="oneline"><span class="ooo">o &nbsp;</span><a href="/contributing.html">Contributing.md</a></h5> - if you want
to learn who has contributed or how you may contribute to the Trio-ircproxy projects.</p>
<p title="the security.md file which states how to report a vulnerability in the Trio-ircproxy application projects.">
<h5 class="oneline"><span class="ooo">o &nbsp;</span><a href="/security.html">Security Policy.md</a></h5> - learn how to
report security vulnerabilities in the Trio-ircproxy projects.</p>
<hr />
<p title="downloading with Internet Relay Chat client"><h5 class="oneline"><span class="ooo">o &nbsp;</span>
    <a href="/search/xdcc.html">XDCC search</a></h5> - download movies, television, applications, games, ebooks,
audio, anime.</p>
<p title="listing of vhost/proxy servers network"><h5 class="oneline"><span class="ooo">o &nbsp;</span>
    <a href="/irc/bounce.html">Bounce servers</a></h5> - view login details for running bounce servers, start & Stop
the bounce servers.</p>
<hr />
<p title="Administrator Functions"><h5 class="oneline"><span class="ooo">o &nbsp;</span>
    <a href="/admin/admin-settings.html">Admin Stage</a></h5> - administration settings, user access change, web-server
to BNC-server networking.</p>
<p title="log-in to this website and use the web-server as an stage for advanced script usage"><h5 class="oneline">
    <span class="ooo">o &nbsp;</span><a href="/admin/bnc-settings.html">Bounce-server Scripts</a></h5> - turn scripts on/off
, apply settings changes, assists mIRC script.</p>
<hr />
<p title="Machine Gun mSL script named Bauderr, with trio-ircproxy.py and this Python web-server named RoseMay">
<h5 class="oneline"><span class="ooo">o &nbsp;</span><a href="https://ashburry.PythonAnywhere.com/download/">Download MG mSL
    script, trio-ircproxy, web-server</a></h5> - download
this complete application and documentation; compatible with Windows 7+, Linux, MacOS, anything running Python
interpreter version 3.7 to 3.10.</p>

<p title="email the author">contact the author, by email, at
    <a href="mailto:Ashburry_UnderNet@outlook.com">Ashburry_UnderNet@outlook.com</a> - for any concerns and questions
    regarding the Python apps, mSL script, documentation, web-server, irc channel and its guests and administrators --
    and if you would like to help with the project and its <a href="irc://irc.undernet.org:6667/5ioE/">irc channel
        (Undernet \ #5ioE)</a>.</p>
{% endblock content %}
