name: Run Trio-Ircproxy

on: [push, pull_request]

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r trio-ircproxy/requirements.txt

      - name: Run Trio-Ircproxy.py
        run: python trio-ircproxy/trio-ircproxy.py

	- name: Cache pip
	  uses: actions/cache@v4
	  with:
	    path: ~/.cache/pip
	    key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
	    restore-keys: |
	      ${{ runner.os }}-pip-
